baseURL = "https://pactus.org"
title = "Pactus blockchain"
relativeURLs = true
canonifyURLs = true

[permalinks]
  blog = "/:year/:month/:day/:title/"

[params]
  releaseTag = "v1.10.1"
  mainCSS = "css/main.css"
  subtitle = "Building the Most Accessible Blockchain"
  description = "Pactus is an open source, layer-1 blockchain technology with a revolutionary, secure, Solid State Proof of Stake Consensus. Come join us and build a decentralized future together!."
  [params.contact]
    email = "info@pactus.org"

[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [["[", "]"], ["$$", "$$"]]
          inline = [["(", ")"], ["$", "$"]]
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = true
      xhtml = false
[imaging]
  [imaging.exif]
    disableDate = false
    disableLatLong = false
    excludeFields = ""
    includeFields = ""

[outputs]
  home = ["html", "rss"]
  section = ["html", "rss"]
  taxonomy = ["html"]
  term = ["html"]
