baseURL = "https://pactus.org"
title = "Pactus blockchain"
relativeURLs = false

[permalinks]
  blog = "/:year/:month/:day/:title/"

[params]
  releaseTag = "v1.11.0"
  subtitle = "Building the Most Accessible Blockchain"
  description = "Pactus is an open source, layer-1 blockchain technology with a revolutionary, secure, Solid State Proof of Stake Consensus. Come join us and build a decentralized future together!."
  keywords = "pactus, blockchain, pactus blockchain, sspos, solid state proof of stake"
  [params.contact]
    email = "info@pactus.org"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = true
      xhtml = false
[imaging]
  [imaging.exif]
    disableDate = false
    disableLatLong = false
    excludeFields = ""
    includeFields = ""

[outputs]
  home = ["html", "rss"]
  section = ["html", "rss"]
  taxonomy = ["html"]
  term = ["html"]
