{{- /*
  Generate explorer link for an address based on chain

  Usage: {{ partial "explorer_link.html" (dict "chain" "base" "address" "0x1234...") }}

  Supported chains:
  - base -> https://basescan.org/address/
  - bnb -> https://bscscan.com/address/
  - polygon -> https://polygonscan.com/address/
  - kava -> https://explorer.kava.io/address/
*/ -}}
{{- $chain := .chain | lower -}}
{{- $address := .address -}}
{{- if and $chain $address -}}
  {{- $baseUrl := "" -}}
  {{- if eq $chain "base" -}}
    {{- $baseUrl = "https://basescan.org/address/" -}}
  {{- else if eq $chain "bnb" -}}
    {{- $baseUrl = "https://bscscan.com/address/" -}}
  {{- else if eq $chain "polygon" -}}
    {{- $baseUrl = "https://polygonscan.com/address/" -}}
  {{- else if eq $chain "kava" -}}
    {{- $baseUrl = "https://explorer.kava.io/address/" -}}
  {{- end -}}
  {{- if $baseUrl -}}
    {{- printf "%s%s" $baseUrl $address -}}
  {{- else -}}
    {{- "" -}}
  {{- end -}}
{{- else -}}
  {{- "" -}}
{{- end -}}
