<script src="/js/jquery.min.js"></script>
{{ with resources.Get "js/main.js" | js.Build (dict "minify" true) | fingerprint }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}


<script src="/js/lazyload.min.js"></script>

<script>
  $(document).ready(function () {
    const selectedClasses = "bg-[#2b2b4b]";
    const notSelectedClasses = "hover:bg-[#000]";

    $("#gui-btn").addClass(selectedClasses);
    $("#cli-btn").addClass(notSelectedClasses);

    $("#gui-btn").click(function () {
      $(this).addClass(selectedClasses).removeClass(notSelectedClasses);
      $("#cli-btn").removeClass(selectedClasses).addClass(notSelectedClasses);
    });

    $("#cli-btn").click(function () {
      $(this).addClass(selectedClasses).removeClass(notSelectedClasses);
      $("#gui-btn").removeClass(selectedClasses).addClass(notSelectedClasses);
    });

    function showContent(type) {
      if (type === "gui") {
        $("#gui").slideDown();
        $("#cli").slideUp();
      } else {
        $("#cli").slideDown();
        $("#gui").slideUp();
      }
    }
  });
</script>

<script>
  var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy",
    callback_loaded: (el) => {
      el.classList.add("loaded");
    },
  });
</script>
