{{ define "title" }}{{ .Page.Title }}{{ end }}
{{ define "main" }}
  <section
    class="container mx-auto px-4 py-8 pt-[8rem] md:pt-[10rem] relative z-20 flex-grow pb-20 flex flex-col min-h-full">
    <div class="grid lg:grid-cols-6">
      <div class="hidden lg:grid"></div>
      <article class="col-span-4">
        <h1 class="md:text-4xl text-3xl font-bold text-neutral-50 text-left">
          {{ .Title }}
        </h1>
        <div class="block mt-6">
          <span class=" text text-[#696A75] font-medium">
            {{ dateFormat "January 2, 2006" .Page.Date }}
          </span>
        </div>
        <img
          src="{{ partial "image.html" (dict "src" .Params.image "filename" .Page.File.BaseFileName) }}"
          alt="{{ .Title }}"
          loading="lazy"
          class="rounded-xl mt-6 w-full object-cover" />
        <article class="prose lg:prose-xl mt-14">{{ .Content }}</article>
      </article>
      <div class="hidden lg:grid"></div>
    </div>
    <div class="block text-center items-center">
      <div class="mt-20 text-center items-center w-full relative">
        <div
          class="flex gap-x-4 justify-center"
          data-aos-duration="1000"
          data-aos="fade-up">
          {{ if .PrevInSection }}
            <a
              href="{{ .PrevInSection.Permalink }}"
              class="btn btn-ghost rounded-lg !px-8 shadow-top-left-to-bottom-right text-neutral-50"
              rel="prev"
              >Previus</a
            >
          {{ else }}
            <a
            href="#"
              class="btn-disabled btn btn-ghost !px-8 rounded-lg shadow-top-left-to-bottom-right text-neutral-50"
              >Previus</a
            >
          {{ end }}
          {{ if .NextInSection }}
            <a
              href="{{ .NextInSection.Permalink }}"
              class="btn text-neutral-50 rounded-lg !px-10 bg-[#217AFF] hover:bg-[#217AFF] hover:bg-opacity-80"
              rel="next"
              >Next</a
            >
          {{ else }}
            <a
              class="btn btn-disabled text-neutral-50 !px-10 rounded-lg bg-[#217AFF] hover:bg-[#217AFF] hover:bg-opacity-80"
              rel="next"
              href="#"
              >Next</a
            >
          {{ end }}
        </div>
        <a
          href="https://github.com/pactus-project/pactus-website/edit/main/content/blog/{{ .File.BaseFileName }}.md"
          class="btn btn-ghost rounded-lg !px-8 mt-5 text-neutral-50 icon-target"
          rel="prev"
          target="_blank"
          >Improve this page
          <lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/wired-outline-245-edit-document-hover-pinch.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon>
        </a>
      </div>
    </div>
  </section>
{{ end }}
