{{ define "title" }}{{ .Page.Title }}{{ end }}
{{ define "main" }}
  <section class="container mx-auto px-4 py-10 pt-[10rem] md:pt-[12rem] relative z-20 flex-grow pb-20">
    <div class="grid grid-cols-3">
      <div class="col-span-2">
        <h1 class="md:text-4xl text-3xl font-bold text-neutral-50 text-left">Download Pactus</h1>
      </div>

      <div class="col-span-1 text-right" style="text-align: -webkit-right;">
        <img src="/images/icons/download.svg" alt="Download" height="100" />
      </div>
    </div>
    <article class="prose lg:prose-xl">{{ .Content }}</article>
  </section>
{{ end }}
{{ define "page_script" }}
  <script>
    $(document).ready(function () {});
  </script>
{{ end }}
