<!-- layouts/index.html -->
<!DOCTYPE html>
<html lang="en" data-theme="dark">

{{partial "head.html" .}}

<body class="min-h-lvh bg-[#0B0B0F] flex flex-col min-h-screen">
    {{partial "header.html" .}}
    <svg height="1018" viewBox="0 0 1732 1018" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute max-w-full max-h-full top-0 m-auto left-0 right-0 min-w-full">
        <g filter="url(#filter0_f_1236_18335)">
            <rect x="279" y="-672" width="1173" height="1190" rx="100" fill="#87B7FF" fill-opacity="0.21" />
        </g>
        <defs>
            <filter id="filter0_f_1236_18335" x="-221" y="-1172" width="2173" height="2190" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="250" result="effect1_foregroundBlur_1236_18335" />
            </filter>
        </defs>
    </svg>

    {{block "main" . }}{{ end }}
    {{partial "single-footer.html" .}}
</body>
{{partial "scripts.html" .}}

</html>