@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

@layer components {

  .my-timeline-row {
    --timeline-row-start: 0px !important;
  }

  .faq-btn:is(input[type="radio"]:checked) {
    background-color: #217AFF !important;
    color: white;
  }

  .what-is-according:has(input:checked) {
    border: 2px solid #fff;
  }

  .faq-btn-parent:has(input:checked) {
    background-image: none !important;
  }

  .text-webkit-right {
    @apply text-right;
    text-align: -webkit-right;
  }

  .prose h2:hover .group-hover\:opacity-100,
  .prose h3:hover .group-hover\:opacity-100,
  .prose h4:hover .group-hover\:opacity-100,
  .prose h5:hover .group-hover\:opacity-100,
  .prose h6:hover .group-hover\:opacity-100 {
    opacity: 1;
  }

  /* Adjust icon size for different heading levels */
  .prose h2 .group-hover\:opacity-100 svg {
    @apply w-6 h-6;
  }

  .prose h3 .group-hover\:opacity-100 svg,
  .prose h4 .group-hover\:opacity-100 svg {
    @apply w-5 h-5;
  }

  .prose h5 .group-hover\:opacity-100 svg,
  .prose h6 .group-hover\:opacity-100 svg {
    @apply w-4 h-4;
  }

  .prose {
    max-width: unset !important;
  }


  .prose hr {
    @apply mt-4
  }

  .prose pre {
    background-color: #000 !important;
    color: #f9fafb;
    border: 1px solid #747474 !important;
    border-radius: 1rem;
  }

  .prose code {
    background-color: inherit;
    color: inherit;
  }


}


.swiper-wrapper {
  width: 100%;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}

.swiper-pagination-bullet {
  background: #4F46E5;
}

.swiper-pagination-bullet-active {
  background: #6A6A6A !important;
  height: 46px !important;
  border-radius: 54px !important;
  opacity: 1 !important;
}

.swiper-slide {
  height: unset !important;
  margin-top: 15px;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px;
  background-color: transparent;
  display: block;
  border-radius: 50%;
  margin-top: 5px;
  border: 2px solid #6A6A6A !important;
  transition: all 0.5s;
}

.swiper-pagination {
  position: absolute !important;
  right: unset !important;
  left: 18px !important;
  height: auto;
  width: auto;
  position: relative;
  z-index: 10000;
}

/* Variable fonts usage:
:root { font-family: "Inter", sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: "InterVariable", sans-serif; font-optical-sizing: auto; }
} */
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}

/* Inter Font */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Thin.woff2') format('woff2'),
    url('/fonts/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraLight.woff2') format('woff2'),
    url('/fonts/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light.woff2') format('woff2'),
    url('/fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.woff2') format('woff2'),
    url('/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraBold.woff2') format('woff2'),
    url('/fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Black.woff2') format('woff2'),
    url('/fonts/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* InterDisplay Font */
@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-Thin.woff2') format('woff2'),
    url('/fonts/InterDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-ExtraLight.woff2') format('woff2'),
    url('/fonts/InterDisplay-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-Light.woff2') format('woff2'),
    url('/fonts/InterDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-Regular.woff2') format('woff2'),
    url('/fonts/InterDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-Medium.woff2') format('woff2'),
    url('/fonts/InterDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-SemiBold.woff2') format('woff2'),
    url('/fonts/InterDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-Bold.woff2') format('woff2'),
    url('/fonts/InterDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-ExtraBold.woff2') format('woff2'),
    url('/fonts/InterDisplay-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-Black.woff2') format('woff2'),
    url('/fonts/InterDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: Inter, InterDisplay, sans-serif !important;
  font-style: normal !important;
}

.prose * {
  font-style: normal !important;
}

em,
i,
.italic {
  font-style: italic !important;
}

details {
  position: relative;
  transition: all 0.3s ease;
}

/* From Uiverse.io by dalbrechtmartin */ 
.github-link_githubCta___TLmo { 
  position: relative;
  font-weight: 600;
  border-radius: 100px;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  opacity: 0;
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;

}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;

}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;

}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;

}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;

}

.github-link_githubCta___TLmo:hover {
  color: #ffffff;
}

.github-link_githubCta___TLmo:hover .star-1 {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
  opacity: 1;
}

.github-link_githubCta___TLmo:hover .star-2 {
  position: absolute;
  top: 35%;
  left: -25%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  opacity: 1;

  z-index: 2;
}

.github-link_githubCta___TLmo:hover .star-3 {
  opacity: 1;

  position: absolute;
  top: 80%;
  left: -10%;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.github-link_githubCta___TLmo:hover .star-4 {
  opacity: 1;

  position: absolute;
  top: -25%;
  left: 105%;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.github-link_githubCta___TLmo:hover .star-5 {
  opacity: 1;

  position: absolute;
  top: 30%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.github-link_githubCta___TLmo:hover .star-6 {
  opacity: 1;

  position: absolute;
  top: 80%;
  left: 105%;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}
