@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

@layer components {
  .lazy {
    @apply skeleton border-none
  }

  .my-timeline-row {
    --timeline-row-start: 0px !important;
  }

  .faq-btn:is(input[type="radio"]:checked) {
    background-color: #217AFF !important;
    color: white;
  }

  .what-is-according:has(input:checked) {
    border: 2px solid #fff;
  }

  .faq-btn-parent:has(input:checked) {
    background-image: none !important;
  }

  .text-webkit-right {
    @apply text-right;
    text-align: -webkit-right;
  }

  .prose h2:hover .group-hover\:opacity-100,
  .prose h3:hover .group-hover\:opacity-100,
  .prose h4:hover .group-hover\:opacity-100,
  .prose h5:hover .group-hover\:opacity-100,
  .prose h6:hover .group-hover\:opacity-100 {
    opacity: 1;
  }

  /* Adjust icon size for different heading levels */
  .prose h2 .group-hover\:opacity-100 svg {
    @apply w-6 h-6;
  }

  .prose h3 .group-hover\:opacity-100 svg,
  .prose h4 .group-hover\:opacity-100 svg {
    @apply w-5 h-5;
  }

  .prose h5 .group-hover\:opacity-100 svg,
  .prose h6 .group-hover\:opacity-100 svg {
    @apply w-4 h-4;
  }

  .prose {
    max-width: unset !important;
  }


  .prose hr {
    @apply mt-4
  }

  .prose pre {
    background-color: #000 !important;
    color: #f9fafb;
    border: 1px solid #747474 !important;
    border-radius: 1rem;
  }

  .prose code {
    background-color: inherit;
    color: inherit;
  }

  .prose p {
    line-height: 1.4;
  }

  .prose li {
    line-height: 1.4;
  }

}


.swiper-wrapper {
  width: 100%;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}

.swiper-pagination-bullet {
  background: #4F46E5;
}

.swiper-pagination-bullet-active {
  background: #6A6A6A !important;
  height: 46px !important;
  border-radius: 54px !important;
  opacity: 1 !important;
}

.swiper-slide {
  height: unset !important;
  margin-top: 15px;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px;
  background-color: transparent;
  display: block;
  border-radius: 50%;
  margin-top: 5px;
  border: 2px solid #6A6A6A !important;
  transition: all 0.5s;
}

.swiper-pagination {
  position: absolute !important;
  right: unset !important;
  left: 18px !important;
  height: auto;
  width: auto;
  position: relative;
  z-index: 10000;
}

/* Variable fonts usage:
:root { font-family: "Inter", sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: "InterVariable", sans-serif; font-optical-sizing: auto; }
} */
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}

/* Inter Font */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Thin.woff2') format('woff2'),
    url('/fonts/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraLight.woff2') format('woff2'),
    url('/fonts/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light.woff2') format('woff2'),
    url('/fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.woff2') format('woff2'),
    url('/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraBold.woff2') format('woff2'),
    url('/fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Black.woff2') format('woff2'),
    url('/fonts/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* InterDisplay Font */
@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-Thin.woff2') format('woff2'),
    url('/fonts/InterDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-ExtraLight.woff2') format('woff2'),
    url('/fonts/InterDisplay-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-Light.woff2') format('woff2'),
    url('/fonts/InterDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-Regular.woff2') format('woff2'),
    url('/fonts/InterDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-Medium.woff2') format('woff2'),
    url('/fonts/InterDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-SemiBold.woff2') format('woff2'),
    url('/fonts/InterDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-Bold.woff2') format('woff2'),
    url('/fonts/InterDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-ExtraBold.woff2') format('woff2'),
    url('/fonts/InterDisplay-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/fonts/InterDisplay-Black.woff2') format('woff2'),
    url('/fonts/InterDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: Inter, InterDisplay, sans-serif !important;
  font-style: normal !important;
}

.prose * {
  font-style: normal !important;
}

em,
i,
.italic {
  font-style: italic !important;
}

details {
  position: relative;
  transition: all 0.3s ease;
}

/* From Uiverse.io by dalbrechtmartin */
.github-link_githubCta___TLmo {
  position: relative;
  font-weight: 600;
  border-radius: 100px;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  opacity: 0;
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;

}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;

}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;

}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;

}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;

}

.github-link_githubCta___TLmo:hover {
  color: #ffffff;
}

.github-link_githubCta___TLmo:hover .star-1 {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
  opacity: 1;
}

.github-link_githubCta___TLmo:hover .star-2 {
  position: absolute;
  top: 35%;
  left: -25%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  opacity: 1;

  z-index: 2;
}

.github-link_githubCta___TLmo:hover .star-3 {
  opacity: 1;

  position: absolute;
  top: 80%;
  left: -10%;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.github-link_githubCta___TLmo:hover .star-4 {
  opacity: 1;

  position: absolute;
  top: -25%;
  left: 105%;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.github-link_githubCta___TLmo:hover .star-5 {
  opacity: 1;

  position: absolute;
  top: 30%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.github-link_githubCta___TLmo:hover .star-6 {
  opacity: 1;

  position: absolute;
  top: 80%;
  left: 105%;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  border-radius: 1.625rem;
}

.learn-more {
  width: 17.5rem;
  height: auto;
}

.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #21212c;
  border-radius: 1.625rem;
}

.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #14161D;
  border-right: 0.125rem solid #14161D;
  transform: rotate(45deg);
}

.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.learn-more:hover .circle {
  width: 100%;
}

.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.learn-more:hover .button-text {
  color: #fff;
}

canvas {
  vertical-align: top;
}

.dg.a {
  margin-top: 10px;
  min-width: 300px;
}


.markers {
  position: relative;
  padding: 0;
  list-style-type: none;
}

.marker {
  color: white;
  font-weight: 300;
  font-size: 14px;
}

.marker:before {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
}

#earth canvas {
  width: 100% !important;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.blob {
  filter: blur(40px);
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgb(112, 100, 233, 0.7);
  transition: all 300ms ease-in-out;
}

.fakeblob {
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.card {
  overflow: hidden;
  padding: 3px;
  margin: 0;
  border-radius: 10px;
  position: relative;
  transition: all 300ms ease-in-out;
}

.inner {
  background: #14161D;
  backdrop-filter: blur(80px);
  transition: all 300ms ease-in-out;
}

.card:hover>.inner {
  backdrop-filter: blur(80px);
}


#fun_facts {
  border-top: 1px solid rgba(255, 255, 255, .08);
  border-bottom: 1px solid rgba(255, 255, 255, .08);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.15);
  padding: 132px 0 87px;
}

.fn_cs_counter_list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin-left: -140px;
}

.fn_cs_counter_list li {
  margin: 0;
  width: 25%;
  margin-bottom: 40px;
}

.fn_cs_counter_list li:nth-of-type(4n) .divider {
  display: none;
}

.fn_cs_counter_list .item {
  position: relative;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding: 0 10px;
}

.fn_cs_counter_list .item h3 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 6px;
}

.fn_cs_counter_list .item p {
  margin: 0;
}

.fn_cs_counter_list .divider {
  position: absolute;
  left: 100%;
  top: 25px;
  width: 140px;
  height: 2px;
  background-color: rgba(255, 255, 255, .5);
}

.fn_cs_counter_list .divider:after,
.fn_cs_counter_list .divider:before {
  width: 16px;
  content: '';
  position: absolute;
  height: 2px;
  background-color: rgba(255, 255, 255, .5);
  transform: rotate(-65deg);
}

.fn_cs_counter_list .divider:before {
  left: 50%;
  margin-left: -11px;
}

.fn_cs_counter_list .divider:after {
  left: 50%;
  margin-left: -5px;
}


.fn__gradient_title {
  width: fit-content;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1;
  background: -moz-linear-gradient(90deg, #7064e9, #217AFF);
  background: -webkit-linear-gradient(90deg, #7064e9, #217AFF);
  background: linear-gradient(to right, #7064e9, #217AFF);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #160f1a;
  filter: drop-shadow(0 5px 20px rgba(204, 0, 255, .15));
}

@media(max-width: 1400px) {
  .metaportal_fn_wsidebar .sidebar_left {
    padding-right: 25px;
  }

  .metaportal_fn_wsidebar .sidebar_right {
    padding-left: 25px;
  }

  .fn__gradient_title,
  .fn__maintitle.big {
    /* font-size: 40px; */
  }

  .fn_cs_slider .slider_top li.prev {
    left: -30px;
  }

  .fn_cs_slider .slider_top li.next {
    margin-left: 30px;
  }

  .fn_cs_counter_list ul {
    margin-left: -80px;
  }

  .fn_cs_counter_list .divider {
    width: 80px;
  }

  .fn_cs_about .right_part {
    padding: 110px 50px;
    width: 50%;
  }

  .fn_cs_about .left_part {
    width: 50%;
  }

  .fn_cs_about .left_part .bg_overlay {
    right: 80px;
  }

  .fn_cs_steps ul {
    margin-left: -40px;
  }

  .fn_cs_steps li {
    padding-left: 40px;
    margin-bottom: 40px;
  }

  .fn_cs_steps {
    margin-bottom: 30px;
  }

  .fn_cs_mint .left_part {
    padding-right: 50px;
  }

  .fn_cs_collection .collection_top {
    margin-left: -20px;
    padding-right: 20px;
  }

  .fn_cs_collection .collection_bottom {
    margin-left: -20px;
    padding-left: 20px;
  }

  .fn_cs_collection .item {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .fn_cs_contact_info li {
    padding-left: 50px;
  }

  .fn_cs_contact_info ul {
    margin-left: -50px;
  }

  .fn_cs_contact_form li {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .fn_cs_contact_form ul {
    margin-left: -20px;
  }
}

.fn_cs_counter_list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* Ensure the container takes full width */
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .fn_cs_counter_list li {
    flex-basis: calc(50% - 20px);
    /* 2 items per row on smaller screens */
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .fn_cs_counter_list li {
    flex-basis: 100%;
    /* 1 item per row on very small screens */
  }
}

.ta-join-us-box {
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.ta-join-us-box .inner-wrapper {
  background: #14161D;
  padding: 30px;
  padding-top: 40px;
}

@media (max-width: 1199px) {
  .ta-join-us-box .inner-wrapper {
    padding: 50px;
    box-shadow: 0px 7px 13px rgba(44, 65, 97, 0.07);
  }
}

@media (max-width: 767px) {
  .ta-join-us-box .inner-wrapper {
    padding: 20px;
  }
}

.ta-join-us-box .count {
  font-size: 120px;
  display: block;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e6c3cf;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.02em;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 767px) {
  .ta-join-us-box .count {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

.ta-join-us-box .count__1 {
  -webkit-text-stroke-color: #d5e1d3;
}

.ta-join-us-box .count__2 {
  -webkit-text-stroke-color: #e3d8c4;
}

.ta-join-us-box .count__3 {
  -webkit-text-stroke-color: #e6d6d0;
}

.ta-join-us-box .count__4 {
  -webkit-text-stroke-color: #e6c3cf;
}

.ta-join-us-box .ta-title {
  font-size: 22px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}

@media (max-width: 767px) {

  .ta-join-us-box__1,
  .ta-join-us-box__3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.ta-join-us-box__2 .inner-wrapper {
  border-left: 1px solid #14161D;
  border-right: 1px solid #14161D;
}

.ta-join-us-box__3 .inner-wrapper {
  border-right: 1px solid #14161D;
}

.ta-join-us-box .ta-icon img {
  transition: transform 0.5s ease;
}

.ta-join-us-box:hover .ta-icon img {
  transform: scaleX(-1);
}

.ta-join-us-box:hover .count {
  animation: down 500ms ease-in-out infinite;
  color: linear-gradient(266.99deg, #02FC87 0.4%, #696EF3 99.2%);
  -webkit-text-stroke-color: #21325A;
}

/* join box css end */
/* count box css start */
.ta-counter-box .ta-title {
  font-size: 24px;
  font-family: "Outfit", sans-serif;
  color: #1B1B1B;
  display: block;
  width: 100%;
}

@media (max-width: 991px) {
  .ta-counter-box .ta-title {
    font-size: 20px;
  }
}

.ta-counter-box span.odometer {
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -0.02em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e6e9e5;
  line-height: 100%;
}

@media (max-width: 991px) {
  .ta-counter-box span.odometer {
    font-size: 45px;
  }
}

.ta-counter-box .odometer-inside span {
  line-height: 100%;
}

.ta-counter-box .plus {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e6e9e5;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

@media (max-width: 991px) {
  .ta-counter-box .plus {
    font-size: 45px;
  }
}

.ta-counter-box__app {
  padding-left: 100px;
}

.ta-counter-box__app .counter-wrapper {
  width: 100%;
  display: block;
}

@media (max-width: 767px) {
  .ta-counter-box__app {
    padding-left: 50px;
  }
}

.btn-become-validator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 0.5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#161a25, #161a25),
    linear-gradient(137.48deg,
      #217AFF 10%,
      #14376b 45%,
      #000000 67%,
      #161a25 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 0.5rem;
}

.btn-become-validator strong {
  z-index: 2;
  color: #ffffff;
}

.glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle-container {
  position: relative;
  width: 100%;
  height: 100%;
  animation: orbit 5s linear infinite;
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 0.5rem;
  filter: blur(2rem);
}

.circle:nth-of-type(1) {
  background: rgba(112, 100, 233, 0.636);
  animation: orbit 8s linear infinite;
}

.circle:nth-of-type(2) {
  background: rgba(99, 30, 41, 0.704);
  animation: orbit 10s linear infinite;
}

.btn-become-validator:hover .container-stars {
  z-index: 1;
  background-color: #161a25;
}

.btn-become-validator:hover {
  transform: scale(1.1);
}

.btn-become-validator:active {
  border: double 4px #631e29;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn-become-validator:active .circle {
  background: #631e29;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

.stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

.stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

.stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

.stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

.stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.button-go-to-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button-go-to-top:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #7064e9;
  align-items: center;
}

.button-go-to-top:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button-go-to-top::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button-go-to-top:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}


.fn_cs_roadmap .step_holder {
  padding: 50px;
  border-radius: 15px;
  margin-bottom: 40px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, .08);
  border-bottom: 1px solid rgba(255, 255, 255, .08);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.15);
}

.fn_cs_roadmap .step_holder .fn__svg {
  width: auto;
  height: 15px;
  position: absolute
}

.fn_cs_roadmap .step_in {
  width: 0;
  height: 22px;
  position: relative;
  overflow: hidden;
  transition: .5s;
  background-image: url(/images/roadmap.png);
  background-repeat: repeat-x;
  max-width: 100% !important
}

.fn_cs_hero_slider,
.frenify_cards_gallery .o_img,
.ripple {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center
}

.fn_cs_roadmap .swiper-slide .item {
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(112, 100, 233, 0.3);
  position: relative
}

.fn_cs_roadmap .swiper-wrapper {
  padding: 60px 0 20px
}

.fn_cs_roadmap .swiper-slide .icon {
  position: absolute;
  display: block;
  left: 40px;
  width: 20px;
  height: 20px;
  background: -moz-linear-gradient(90deg, #7064e9, #217AFF);
  background: -webkit-linear-gradient(90deg, #7064e9, #217AFF);
  background: linear-gradient(to right, #7064e9, #217AFF);
  border-radius: 100%;
  bottom: 100%;
  margin-bottom: 41px
}

.fn_cs_roadmap .swiper-slide .icon:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #1d1224;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px
}

.fn_cs_roadmap .swiper-slide .phase {
  display: block;
  width: fit-content;
  max-width: 100%;
  color: #9ba0b8;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 40px;
  background-color: rgba(255, 255, 255, .1);
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 40px;
  line-height: 40px;
  overflow: hidden
}

.fn_cs_roadmap .swiper-slide .item_in {
  padding: 25px 40px 40px
}

.fn_cs_roadmap .swiper-slide .date {
  margin: 0 0 7px
}

.fn_cs_roadmap .swiper-slide .title {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 20px
}

.slider_holder:after {
  z-index: -1;
  position: absolute;
  top: 23px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, .1);
  content: '';
}

.slider_holder {
  position: relative;
}

.btn-join-community {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 0.5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#161a25, #161a25),
    linear-gradient(137.48deg,
      rgba(112, 100, 233, 1) 10%,
      #14376b 45%,
      #000000 67%,
      #161a25 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 0.5rem;
}

.btn-join-community strong {
  z-index: 2;
  color: #ffffff;
}

.glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle-container {
  position: relative;
  width: 100%;
  height: 100%;
  animation: orbit 5s linear infinite;
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 0.5rem;
  filter: blur(2rem);
}

.circle:nth-of-type(1) {
  background: rgba(112, 100, 233, 0.636);
  animation: orbit 8s linear infinite;
}

.circle:nth-of-type(2) {
  background: rgba(99, 30, 41, 0.704);
  animation: orbit 10s linear infinite;
}

.btn-join-community:hover .container-stars {
  z-index: 1;
  background-color: #161a25;
}

.btn-join-community:hover {
  transform: scale(1.1);
}

.btn-join-community:active {
  border: double 4px #631e29;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn-join-community:active .circle {
  background: #631e29;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

.stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

.stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

.stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

.stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

.stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.swiper-slide .item {
  height: 100% !important;
}

.lazy.loaded {
  background-color: transparent;
}

.other-top-bg-back {
  position: absolute;
  top: 0;
  width: 80%;
  margin: auto;
  height: 50vh;
  background-color: rgba(135, 183, 255, 0.21);
  filter: blur(100px);
  border-radius: 0 50% 0 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-align: -webkit-center;
}

.other-right-bg-back {
  position: absolute;
  top: 40%;
  width: 40%;
  margin: auto;
  height: 100vh;
  background-color: rgba(17, 89, 198, 0.21);
  filter: blur(100px);
  border-radius: 50% 0 0 50%;
  right: 0;
  text-align: -webkit-center;
}


.other-left-bg-back {
  position: absolute;
  top: 20%;
  width: 40%;
  margin: auto;
  height: 100vh;
  background-color: rgba(115, 24, 206, 0.21);
  filter: blur(100px);
  border-radius: 0 50% 50% 0;
  left: 0;
  text-align: -webkit-center;
}

.single-bg {
  opacity: 0.5;
  max-height: 100%;
}
