{{ define "title" }}{{ .Page.Title }}{{ end }}
{{ define "main" }}
  <section class="container mx-auto px-4 py-8 pt-[10rem] relative z-20 flex-grow pb-20 flex flex-col min-h-full">
    <div class="flex-grow">
      <div class="grid grid-cols-3 ">
        <div class="col-span-2">
          <h1 class="md:text-4xl text-3xl font-bold text-neutral-50 text-left">
            {{ .Title }}
          </h1>
        </div>
        <div class="col-span-1 text-right" style="text-align: -webkit-right;">
          <img src="/images/icons/community.svg" alt="Community" height="100" />
        </div>
      </div>
      <div class="mt-10 md:mt-3 text-lg md:text-xl"></div>
    </div>
    <article class="prose lg:prose-xl">{{ .Content }}</article>
    <div class="divider mt-[6rem]"></div>
    <div class="self-center">
      <p class="font-bold">
        To explore the official communities managed by Pactus foundation, you can follow the links below.
      </p>
      <div class="flex gap-x-4 mt-5 text-center items-center justify-center social_big">
        <a href="{{ .Site.Data.links.discord }}" target="_blank">
          <img src="/images/social/social_discord.svg" alt="Discord" />
        </a>
        <a href="{{ .Site.Data.links.x }}" target="_blank">
          <img src="/images/social/social_x.svg" alt="X (Twitter)" />
        </a>
        <a href="{{ .Site.Data.links.telegram }}" target="_blank">
          <img src="/images/social/social_telegram.svg" alt="Telegram" />
        </a>
        <a href="{{ .Site.Data.links.linkedin }}" target="_blank">
          <img src="/images/social/social_linkedin.svg" alt="Discord" />
        </a>
      </div>
    </div>
  </section>
{{ end }}
