<head>
  {{ partial "google_tag.html" }}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pactus Blockchain | Pactus.org </title>


  <meta name="keywords"
    content="pactus, blockchain, nft, smart contract, decentralized, storage, layer 1, web3, pips, proposal, community, consensus, sspos, proof of stake, proof of work, sensifai, aethir, dezh, shield games, pactus blockchain, pacviewer, whitepaper, block explorer, validator, earn, miner, block, transaction, committee, cryptography, pac, decentralized storage, password manager, node">

  <meta name="description"
    content="Pactus is an open source, layer-1 blockchain technology with a revolutionary, secure, Solid State Proof of Stake Consensus." />

  <meta property="og:type" content="business.business">
  <meta property="og:title" content="Pactus Blockchain">
  <meta property="og:url" content="https://pactus.org">
  <meta property="og:image" content="https://pactus.org/images/pactus-blog-post-default.jpg">
  <meta property="og:description" content="Pactus is a community-run blockchain technology with a
revolutionary, secure, Solid State Proof of Stake Consensus.">

  <meta property="og:type" content="business.business" />
  <meta property="og:url" content="https://pactus.org" />
  <meta property="og:title" content="Pactus Blockchain" />
  <meta property="og:description" content="Pactus is an open source, layer-1 blockchain technology with a revolutionary, secure, Solid State Proof of Stake Consensus." />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://pactus.org" />
  <meta property="twitter:title" content="Pactus Blockchain" />
  <meta property="twitter:description" content="Pactus is an open source, layer-1 blockchain technology with a revolutionary, secure, Solid State Proof of Stake Consensus." />


  <!-- {{ with resources.Get "css/main.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" />
  {{ end }}
   -->

  <link rel="stylesheet" href="/css/main.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="shortcut icon" type="image/png" href="/favicon-128x128.png" />
  <link rel="icon" type="image/png" sizes="128x128" href="/favicon-128x128.png" />
  <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64x64.png" />
  <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64x64.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#0B0B0F" />

  <link href="/css/aos.css" rel="stylesheet" />
  <link href="/css/swiper-bundle.min.css" rel="stylesheet" />
  <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
</head>