<li>
  <details>
    <summary class="font-bold">{{ T "dict.about" }}</summary>
    <ul
      class="p-2 w-max md:shadow-top-left-to-bottom-right md:bg-[#15161C] bg-transparent">
      <li class="icon-target">
        <a
          href="{{ .Site.BaseURL }}/about/what-is-pactus"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-76-newspaper.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >{{ T "dict.what_is.title" }}</a
        >
      </li>
      <li class="icon-target">
        <a href="{{ .Site.BaseURL }}/about/roadmap"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-24-view-1.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >{{ T "dict.roadmap.title" }}</a
        >
      </li>
      <li class="icon-target">
        <a href="{{ .Site.BaseURL }}/about/faq"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-140-help-center.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >{{ T "dict.faq.title" }}</a
        >
      </li>
    </ul>
  </details>
</li>
<li>
  <details>
    <summary class="font-bold">{{ T "dict.documentation" }}</summary>
    <ul
      class="p-2 w-max grad md:shadow-top-left-to-bottom-right md:bg-[#15161C] bg-transparent">
      <li class="icon-target">
        <a href="https://docs.pactus.org/get-started/" target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/vduvxizq.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >{{ T "dict.get_started" }}</a
        >
      </li>
      <li class="icon-target">
        <a
          href="https://docs.pactus.org/get-started/become-a-validator/"
          target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-16-assessment.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >{{ T "dict.become_a_validator" }}</a
        >
      </li>
      <li class="icon-target">
        <a href="https://docs.pactus.org/protocol/" target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-178-work.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >{{ T "dict.protocol" }}</a
        >
      </li>
      <li class="icon-target">
        <a href="https://docs.pactus.org/tutorials/" target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-19-book.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >{{ T "dict.tutorial" }}</a
        >
      </li>
      <li class="icon-target">
        <a href="https://docs.pactus.org/api/" target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-34-code.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >{{ T "dict.api_reference" }}</a
        >
      </li>
    </ul>
  </details>
</li>
<li class="font-bold">
  <a href="{{ .Site.BaseURL }}/blog"
    >{{ T "dict.blog.title" }}</a
  >
</li>
<li class="font-bold">
  <a href="{{ .Site.BaseURL }}/download"
    >{{ T "dict.download.title" }}</a
  >
</li>
<li>
  <details>
    <summary class="font-bold">{{ T "dict.resources" }}</summary>
    <ul
      class="p-2 w-max md:shadow-top-left-to-bottom-right md:bg-[#15161C] bg-transparent">
      <li class="icon-target">
        <a href="{{ .Site.BaseURL }}/community"
          >{{ T "dict.community.title" }}</a
        >
      </li>
      <li class="icon-target">
        <a href="{{ .Site.BaseURL }}/contributing"
          >{{ T "dict.contributing" }}</a
        >
      </li>
      <li class="icon-target">
        <a
          href="https://github.com/pactus-project/Whitepaper/releases/latest/download/pactus_whitepaper.pdf"
          target="_blank"
          >{{ T "dict.whitepaper" }}<svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            style="cursor:pointer">
            <g
              stroke-width="2.1"
              stroke="#cecece"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
              <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
            </g></svg
        ></a>
      </li>
      <li class="icon-target">
        <a href="https://pacviewer.com/" target="_blank"
          >{{ T "dict.block_explorer" }}<svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            style="cursor:pointer">
            <g
              stroke-width="2.1"
              stroke="#cecece"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
              <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
            </g></svg
        ></a>
      </li>
      <li class="icon-target">
        <a href="https://github.com/pactus-project/" target="_blank"
          >Source code<svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            style="cursor:pointer">
            <g
              stroke-width="2.1"
              stroke="#cecece"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
              <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
            </g></svg
        ></a>
      </li>
      <li class="icon-target">
        <a href="https://pips.pactus.org/" target="_blank"
          >PIPs<svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            style="cursor:pointer">
            <g
              stroke-width="2.1"
              stroke="#cecece"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
              <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
            </g></svg
        ></a>
      </li>
    </ul>
  </details>
</li>
