{{ $menuData := slice
  (dict
    "title" "About"
    "type" "dropdown"
    "items" (slice
      (dict "title" "What is Pactus?" "url" "about/what-is-pactus" "icon" "system-regular-76-newspaper.json")
      (dict "title" "Roadmap" "url" "about/roadmap" "icon" "system-regular-24-view-1.json")
      (dict "title" "FAQ" "url" "about/faq" "icon" "system-regular-140-help-center.json")
    )
  )
  (dict
    "title" "Documentation"
    "type" "dropdown"
    "items" (slice
      (dict "title" "Get Started" "url" "https://docs.pactus.org/get-started/" "icon" "vduvxizq.json" "external" true)
      (dict "title" "Become a validator" "url" "https://docs.pactus.org/get-started/become-a-validator/" "icon" "system-regular-16-assessment.json" "external" true)
      (dict "title" "Protocol" "url" "https://docs.pactus.org/protocol/" "icon" "system-regular-178-work.json" "external" true)
      (dict "title" "Tutorial" "url" "https://docs.pactus.org/tutorials/" "icon" "system-regular-19-book.json" "external" true)
      (dict "title" "API Reference" "url" "https://docs.pactus.org/api/" "icon" "system-regular-34-code.json" "external" true)
    )
  )
  (dict
    "title" "Blog"
    "type" "link"
    "url" "blog"
  )
  (dict
    "title" "Download"
    "type" "link"
    "url" "download"
  )
  (dict
    "title" "Resources"
    "type" "dropdown"
    "items" (slice
      (dict "title" "Community" "url" "community" "icon" "system-regular-47-chat-hover-chat.json")
      (dict "title" "Contributing" "url" "contributing" "icon" "system-regular-156-thumbs-up-down-hover-thumbs.json")
      (dict "title" "Block Explorer" "url" "https://pacviewer.com/" "icon" "system-regular-42-search-hover-search.json" "external" true)
      (dict "title" "Pactus wallet" "url" "https://wallet.pactus.org" "icon" "system-regular-5-wallet-hover-wallet.json" "external" true)
      (dict "title" "Pagu" "url" "https://pagu.bot/" "icon" "wired-outline-2803-engagement-alt-hover-pinch.json" "external" true)
      (dict "title" "PIPs" "url" "https://pips.pactus.org/" "icon" "system-regular-17-assignment-hover-assignment.json" "external" true)
      (dict "title" "Source code" "url" "https://github.com/pactus-project/" "icon" "system-regular-50-file-hover-file-1.json" "external" true)
      (dict "title" "Whitepaper" "url" "https://github.com/pactus-project/Whitepaper/releases/latest/download/pactus_whitepaper.pdf" "icon" "system-regular-14-article-hover-article.json" "external" true)
      (dict "title" "Investor Deck" "url" "/pdf/pactus-investor-deck-public-final.pdf" "icon" "system-regular-16-assessment-hover-assessment.json" "external" true)
    )
  )
}}

{{ range $menuData }}
<li{{ if eq .type "link" }} class="font-bold"{{ end }}>
  {{ if eq .type "dropdown" }}
  <details>
    <summary class="font-bold">{{ .title }}</summary>
    <ul class="p-2 w-max md:shadow-top-left-to-bottom-right md:bg-[#15161C] bg-transparent">
      {{ range .items }}
      <li class="icon-target">
        <a href="{{ if not .external }}{{ $.Site.BaseURL }}{{ end }}{{ .url }}"{{ if .external }} target="_blank"{{ end }}>
          <lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/{{ .icon }}"
            colors="primary:#fff,secondary:#fff">
          </lord-icon>
          {{ .title }}
          {{- if .external -}}
          <svg width="24px" height="24px" viewBox="0 0 24 24" style="cursor:pointer">
            <g stroke-width="2.1" stroke="#cecece" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
              <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
            </g>
          </svg>
          {{- end -}}
        </a>
      </li>
      {{ end }}
    </ul>
  </details>
  {{ else }}
  <a href="{{ $.Site.BaseURL }}{{ .url }}">{{ .title }}</a>
  {{ end }}
</li>
{{ end }}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const detailsElements = document.querySelectorAll("details");

    function closeAllDropdowns() {
      detailsElements.forEach((detail) => {
        detail.removeAttribute("open");
      });
    }

    detailsElements.forEach((detail) => {
      detail.addEventListener("toggle", function (event) {
        event.stopPropagation();
        if (this.open) {
          detailsElements.forEach((otherDetail) => {
            if (otherDetail !== this) {
              otherDetail.removeAttribute("open");
            }
          });
        }
      });
    });

    document.addEventListener("click", function (event) {
      if (!event.target.closest("details")) {
        closeAllDropdowns();
      }
    });
  });
</script>
