<li>
  <details>
    <summary class="font-bold">About</summary>
    <ul
      class="p-2 w-max md:shadow-top-left-to-bottom-right md:bg-[#15161C] bg-transparent">
      <li class="icon-target">
        <a href="{{ .Site.BaseURL }}about/what-is-pactus"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-76-newspaper.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >What is Pactus?</a
        >
      </li>
      <li class="icon-target">
        <a href="{{ .Site.BaseURL }}about/roadmap"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-24-view-1.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >Roadmap</a
        >
      </li>
      <li class="icon-target">
        <a href="{{ .Site.BaseURL }}about/faq"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-140-help-center.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >FAQ</a
        >
      </li>
    </ul>
  </details>
</li>
<li>
  <details>
    <summary class="font-bold">Documentation</summary>
    <ul
      class="p-2 w-max grad md:shadow-top-left-to-bottom-right md:bg-[#15161C] bg-transparent">
      <li class="icon-target">
        <a href="https://docs.pactus.org/get-started/" target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/vduvxizq.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >Get Started</a
        >
      </li>
      <li class="icon-target">
        <a
          href="https://docs.pactus.org/get-started/become-a-validator/"
          target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-16-assessment.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >Become a validator</a
        >
      </li>
      <li class="icon-target">
        <a href="https://docs.pactus.org/protocol/" target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-178-work.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >Protocol</a
        >
      </li>
      <li class="icon-target">
        <a href="https://docs.pactus.org/tutorials/" target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-19-book.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >Tutorial</a
        >
      </li>
      <li class="icon-target">
        <a href="https://docs.pactus.org/api/" target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-34-code.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >API Reference</a
        >
      </li>
    </ul>
  </details>
</li>
<li class="font-bold">
  <a href="{{ .Site.BaseURL }}blog">Blog</a>
</li>
<li class="font-bold">
  <a href="{{ .Site.BaseURL }}download">Download</a>
</li>
<li>
  <details>
    <summary class="font-bold">Resources</summary>
    <ul
      class="p-2 w-max md:shadow-top-left-to-bottom-right md:bg-[#15161C] bg-transparent">
      <li class="icon-target">
        <a href="{{ .Site.BaseURL }}community"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-47-chat-hover-chat.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >Community</a
        >
      </li>
      <li class="icon-target">
        <a href="{{ .Site.BaseURL }}contributing"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-156-thumbs-up-down-hover-thumbs.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >Contributing</a
        >
      </li>
       <li class="icon-target">
        <a
          href="https://wallet.pactus.org"
          target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-5-wallet-hover-wallet.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >Pactus wallet<svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            style="cursor:pointer">
            <g
              stroke-width="2.1"
              stroke="#cecece"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
              <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
            </g></svg
        ></a>
      </li>
      <li class="icon-target">
        <a
          href="https://github.com/pactus-project/Whitepaper/releases/latest/download/pactus_whitepaper.pdf"
          target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-14-article-hover-article.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >Whitepaper<svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            style="cursor:pointer">
            <g
              stroke-width="2.1"
              stroke="#cecece"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
              <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
            </g></svg
        ></a>
      </li>
      <li class="icon-target">
        <a
          href="/pdf/pactus-investor-deck-public-final.pdf"
          target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-16-assessment-hover-assessment.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >Investor Deck<svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            style="cursor:pointer">
            <g
              stroke-width="2.1"
              stroke="#cecece"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
              <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
            </g></svg
        ></a>
      </li>
      <li class="icon-target">
        <a href="https://pacviewer.com/" target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-42-search-hover-search.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >Block Explorer<svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            style="cursor:pointer">
            <g
              stroke-width="2.1"
              stroke="#cecece"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
              <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
            </g></svg
        ></a>
      </li>
      <li class="icon-target">
        <a href="https://github.com/pactus-project/" target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-50-file-hover-file-1.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >Source code<svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            style="cursor:pointer">
            <g
              stroke-width="2.1"
              stroke="#cecece"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
              <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
            </g></svg
        ></a>
      </li>
      <li class="icon-target">
        <a href="https://pips.pactus.org/" target="_blank"
          ><lord-icon
            class="h-[25px] md:h-[30px]"
            target=".icon-target"
            trigger="hover"
            src="/icons/system-regular-17-assignment-hover-assignment.json"
            colors="primary:#fff,secondary:#fff">
          </lord-icon
          >PIPs<svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            style="cursor:pointer">
            <g
              stroke-width="2.1"
              stroke="#cecece"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
              <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
            </g></svg
        ></a>
      </li>
    </ul>
  </details>
</li>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const detailsElements = document.querySelectorAll("details");

    detailsElements.forEach((detail) => {
      detail.addEventListener("toggle", function () {
        if (this.open) {
          detailsElements.forEach((otherDetail) => {
            if (otherDetail !== this) {
              otherDetail.removeAttribute("open");
            }
          });
        }
      });
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const detailsElements = document.querySelectorAll("details");

    // Function to close all dropdowns
    function closeAllDropdowns() {
      detailsElements.forEach((detail) => {
        detail.removeAttribute("open");
      });
    }

    // Toggle dropdowns when clicking on them
    detailsElements.forEach((detail) => {
      detail.addEventListener("toggle", function (event) {
        // Prevent the click from propagating to the document
        event.stopPropagation();

        if (this.open) {
          // Close other dropdowns
          detailsElements.forEach((otherDetail) => {
            if (otherDetail !== this) {
              otherDetail.removeAttribute("open");
            }
          });
        }
      });
    });

    // Close dropdowns when clicking outside
    document.addEventListener("click", function (event) {
      // Check if the click is outside all dropdowns
      if (!event.target.closest("details")) {
        closeAllDropdowns();
      }
    });
  });
</script>
