<div class="mt-[7rem] text-center items-center w-full overflow-x-hidden">
  <div class="marquee-container">
    <div class="swiper-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="marquee-item">
                    <a href="https://sensifai.com/" target="_blank">
                      <img src="/images/partners/sensifai.svg" alt="sensifai">
                    </a>
                </div>
            </div>
             <div class="swiper-slide">
                <div class="marquee-item">
                    <a href="https://aethir.com/" target="_blank">
                      <img src="/images/partners/aethir.svg" alt="aethir">
                    </a>
                </div>
            </div>
             <div class="swiper-slide">
                <div class="marquee-item">
                    <a href="https://dezh.tech/" target="_blank">
                      <img src="/images/partners/dezh.svg" alt="dezh">
                    </a>
                </div>
            </div>
             <div class="swiper-slide">
                <div class="marquee-item">
                    <a href="https://shield-games.com/" target="_blank">
                      <img src="/images/partners/shield-games.svg" alt="shield-games">
                    </a>
                </div>
            </div>
             <div class="swiper-slide">
                <div class="marquee-item">
                    <a href="https://xeggex.com/" target="_blank">
                      <img src="/images/partners/xeggex.svg" alt="xeggex">
                    </a>
                </div>
            </div>
             <div class="swiper-slide">
                <div class="marquee-item">
                    <a href="https://azbit.com/" target="_blank">
                      <img src="/images/partners/azbit.svg" alt="azbit">
                    </a>
                </div>
            </div>
             <div class="swiper-slide">
                <div class="marquee-item">
                    <a href="https://www.coingecko.com/" target="_blank">
                      <img src="/images/partners/coingecko.svg" alt="coingecko">
                    </a>
                </div>
            </div>
             <div class="swiper-slide">
                <div class="marquee-item">
                    <a href="https://www.forbes.com/" target="_blank">
                      <img src="/images/partners/forbes.svg" alt="forbes">
                    </a>
                </div>
            </div>
             <div class="swiper-slide">
                <div class="marquee-item">
                    <a href="https://coinmarketcap.com/" target="_blank">
                      <img src="/images/partners/cmc.svg" alt="cmc">
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="marquee-container">
    <div class="swiper-2">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="marquee-item">
                  <a href="https://coinpaprika.com/" target="_blank">
                    <img src="/images/partners/coinpaprika.svg" alt="coinpaprika">
                  </a>
              </div>
          </div>
           <div class="swiper-slide">
              <div class="marquee-item">
                  <a href="https://www.livecoinwatch.com/" target="_blank">
                    <img src="/images/partners/coincodex.svg" alt="coincodex">
                  </a>
              </div>
          </div>
           <div class="swiper-slide">
              <div class="marquee-item">
                  <a href="https://coincodex.com/" target="_blank">
                    <img src="/images/partners/lcw.svg" alt="lcw">
                  </a>
              </div>
          </div>
           <div class="swiper-slide">
              <div class="marquee-item">
                  <a href="https://blockspot.io/" target="_blank">
                    <img src="/images/partners/blockspot.svg" alt="blockspot">
                  </a>
              </div>
          </div>
           <div class="swiper-slide">
              <div class="marquee-item">
                  <a href="https://coinranking.com/" target="_blank">
                    <img src="/images/partners/coinranking.svg" alt="coinranking">
                  </a>
              </div>
          </div>
           <div class="swiper-slide">
              <div class="marquee-item">
                  <a href="https://bitcointalk.org/" target="_blank">
                    <img src="/images/partners/btctalk.svg" alt="btctalk">
                  </a>
              </div>
          </div>
           <div class="swiper-slide">
              <div class="marquee-item">
                  <a href="https://www.bybit.com/" target="_blank">
                    <img src="/images/partners/bybit.svg" alt="bybit">
                  </a>
              </div>
          </div>
           <div class="swiper-slide">
              <div class="marquee-item">
                  <a href="https://pacviewer.com/" target="_blank">
                    <img src="/images/partners/pacviewer.svg" alt="pacviewer">
                  </a>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
