<div class="mt-[7rem] text-center items-center w-full overflow-x-hidden">
  <div class="marquee-container">
    <div class="swiper-1">
      <div class="swiper-wrapper">
        {{ range site.Data.partners }}
        <div class="swiper-slide">
          <div class="marquee-item">
            <a href="{{ .url }}" title="{{ .name }}" target="_blank">
              <img src="/images/partners/{{ .logo }}" alt="{{ .name }}" style="min-height: 48px;">
            </a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
