<div class="mt-[7rem] text-center items-center w-full overflow-x-hidden">
  <div
    class="gap-x-0 container mx-auto grid grid-cols-2 lg:grid-cols-4 md:grid-cols-2 gap-y-8 grid-flow-row justify-items-center items-center justify-center text-center md:px-40">
    <a
      href="https://sensifai.com/"
      data-aos-duration="1000"
      data-aos="fade-right"
      target="_blank"
      style="text-align: -webkit-center;"
      class="text-center w-[80%] md:w-full">
      <img src="/images/sensifai.svg" alt="sensifai" />
    </a>
    <a
      target="_blank"
      href="https://aethir.com/"
      data-aos-duration="1000"
      data-aos="fade-right"
      style="text-align: -webkit-center;"
      class="text-center w-[80%] md:w-full">
      <img src="/images/aethir.svg" alt="aethir" />
    </a>
    <a
      href="https://dezh.tech/"
      target="_blank"
      data-aos-duration="1000"
      data-aos="fade-left"
      style="text-align: -webkit-center;"
      class="text-center w-[80%] md:w-full">
      <img src="/images/dezh.svg" alt="dezh" />
    </a>
    <a
      target="_blank"
      href="https://shield-games.com/"
      data-aos-duration="1000"
      data-aos="fade-left"
      style="text-align: -webkit-center;"
      class="text-center w-[80%] md:w-full">
      <img src="/images/shield-games.svg" alt="shield-games" />
    </a>
  </div>
</div>
