@@ -33,13 +33,13 @@ <h1 class="md:text-4xl text-3xl font-bold text-neutral-50 text-left">
              href="{{ .PrevInSection.Permalink }}"
              class="btn btn-ghost rounded-lg !px-8 shadow-top-left-to-bottom-right text-neutral-50"
              rel="prev"
              >Previus</a
              >Previous</a
            >
          {{ else }}
            <a
            href="#"
              class="btn-disabled btn btn-ghost !px-8 rounded-lg shadow-top-left-to-bottom-right text-neutral-50"
              >Previus</a
              >Previous</a
            >
          {{ end }}
          {{ if .NextInSection }}
