<!-- layouts/index.html -->
<!doctype html>
<html lang="en" data-theme="dark">
{{ partial "head.html" . }}
<body class="bg-[#0B0B0F] flex flex-col min-h-screen">
  {{ partial "header.html" . }}
  <img
    loading="lazy"
    src="{{ partial "image.html" (dict "src" (default "/images/bg-default.png" .Params.background_image)) }}"
    alt=""
      class="min-w-full absolute -top-10" />

  <div class="drawer flex-grow">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content relative overflow-hidden">
      {{ block "main" . }}{{ end }}
    </div>
    <div class="drawer-side z-[51]">
      <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      {{ partial "drawer.html" . }}
    </div>
  </div>
  {{ partial "footer.html" . }}

  {{ partial "scripts.html" . }}
  {{ block "page_script" . }}{{ end }}
</body>

</html>