{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
  <img
    loading="lazy"
    src="{{ partial "image.html" (dict "src" "/images/landing-top-bg1.png") }}"
    alt=""
    class="min-w-full absolute -top-10" />
  <section
    class="z-10 relative flex flex-col min-h-full flex-grow"
    style="position: relative;">
    <div class="flex-grow">
      <div
        class="text-center px-5 md:px-0 z-20 pt-[10rem] md:pt-[15rem] bg-transparent">
        <h1
          data-aos-duration="1000"
          class="font-bold text-5xl md:text-6xl text-transparent bg-clip-text bg-gradient-to-r from-[#FFFFFF] to-[#999999] pb-[20px] block">
          <span class="block lg:contents">Welcome to</span>
          <span class="w-full min-h-[3rem] lg:contents">
            <span id="pactus-name" class="pl-[18px]"></span>
          </span>
        </h1>
        <h1
          data-aos-duration="1000"
          data-aos="fade-up"
          class="mt-4 font-bold text-2xl md:text-[2rem] text-transparent bg-clip-text bg-gradient-to-r from-[#5670CE] to-[#31ABC6]">
          Where Community Builds Trustless!
        </h1>
        <h1
          data-aos-duration="1000"
          data-aos="fade-up"
          class="mt-14 font-bold md:text-lg text-neutral-50">
          <span
            >Pactus is an open source, layer-1 blockchain technology with
            a</span
          ><br class="hidden md:block" />
          <span class="ml-1 md:ml-0"
            >revolutionary, secure, Solid State Proof of Stake Consensus.</span
          ><br class="hidden md:block" />
          <span class="ml-1 md:ml-0"
            >Come join us and build a decentralized future together!</span
          >
        </h1>
      </div>
      <div class="mt-10 text-center items-center w-full">
        <div
          class="flex gap-x-4 justify-center"
          data-aos-duration="1000"
          data-aos="fade-up">
          <a
            target="_blank"
            href="https://docs.pactus.org/get-started/become-a-validator/"

            class="btn-become-validator">
            <strong>Become a validator</strong>
            <div class="container-stars">
              <div class="stars"></div>
            </div>

            <div class="glow">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </a>
          <a
            target="_blank"
            href="/community"
            class="btn-join-community">
            <strong>Join community</strong>
            <div class="container-stars">
              <div class="stars"></div>
            </div>

            <div class="glow">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </a>
        </div>
      </div>
      {{ partial "partners.html" }}
      <img
        class="absolute -z-10 mt-10"
        src="/images/blocks.svg"
        alt=""
        loading="lazy" />
      <div class="mt-[6rem] md:mt-[10rem] z-10 relative">
        <div
          class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
          <div
            class="card h-full w-full rounded-xl"
            data-aos="fade-up"
            data-aos-duration="1000">
            <div
              class="inner h-full w-full relative text-center group icon-target p-10 rounded-xl">
              <div class="block">
                <lord-icon
                  style="width: 50px; height: 50px;"
                  target=".icon-target"
                  trigger="hover"
                  src="/icons/wired-outline-134-target-hover-dynamic.json"
                  colors="primary:#7064e9,secondary:#7064e9">
                </lord-icon>
              </div>
              <div class="mt-4 block">
                <span
                  class="font-bold md:text-2xl text-xl group-hover:text-[#7064e9] transition ease-linear duration-100"
                  >Focused on decentralization</span
                >
              </div>
              <p class="mt-4">
                Pactus ensures true decentralization by eliminating delegation,
                miners, and promoting open participation.
              </p>
            </div>
            <div class="blob"></div>
            <div class="fakeblob"></div>
          </div>
          <div
            class="card h-full w-full rounded-xl"
            data-aos="fade-up"
            data-aos-duration="1000">
            <div
              class="inner h-full w-full relative text-center group icon-target p-10 rounded-xl">
              <div class="block">
                <lord-icon
                  style="width: 50px; height: 50px;"
                  target=".icon-target"
                  trigger="hover"
                  src="/icons/wired-outline-541-hand-washing-step-12-hover-pinch.json"
                  colors="primary:#7064e9,secondary:#7064e9">
                </lord-icon>
              </div>
              <div class="mt-4 block">
                <span
                  class="font-bold md:text-2xl text-xl group-hover:text-[#7064e9] transition ease-linear duration-100"
                  >User-friendly Blockchain</span
                >
              </div>
              <p class="mt-4">
                Pactus offers a simple, user-friendly blockchain with an
                easy-to-use GUI for running nodes, for all users.
              </p>
            </div>
            <div class="blob"></div>
            <div class="fakeblob"></div>
          </div>
          <div
            class="card h-full w-full rounded-xl"
            data-aos="fade-up"
            data-aos-duration="1000">
            <div
              class="inner h-full w-full relative text-center group icon-target p-10 rounded-xl">
              <div class="block">
                <lord-icon
                  style="width: 50px; height: 50px;"
                  target=".icon-target"
                  trigger="hover"
                  src="/icons/wired-outline-1-cloud-hover-pinch.json"
                  colors="primary:#7064e9,secondary:#7064e9">
                </lord-icon>
              </div>
              <div class="mt-4 block">
                <span
                  class="font-bold md:text-2xl text-xl group-hover:text-[#7064e9] transition ease-linear duration-100"
                  >Dedicated Decentralized Storage</span
                >
              </div>
              <p class="mt-4">
                Pactus offers renewable storage files, reducing costs and
                enabling new decentralized protocol innovations.
              </p>
            </div>
            <div class="blob"></div>
            <div class="fakeblob"></div>
          </div>
          <div
            class="card h-full w-full rounded-xl"
            data-aos="fade-up"
            data-aos-duration="1000">
            <div
              class="inner h-full w-full relative text-center group icon-target p-10 rounded-xl">
              <div class="block">
                <lord-icon
                  style="width: 50px; height: 50px;"
                  target=".icon-target"
                  trigger="hover"
                  src="/icons/wired-outline-500-fingerprint-security-hover-pinch.json"
                  colors="primary:#7064e9,secondary:#7064e9">
                </lord-icon>
              </div>
              <div class="mt-4 block">
                <span
                  class="font-bold md:text-2xl text-xl group-hover:text-[#7064e9] transition ease-linear duration-100"
                  >Solid State Proof of Stake</span
                >
              </div>
              <p class="mt-4">
                SSPoS promotes decentralization with dynamic, random validator
                committees and no delegation.
              </p>
            </div>
            <div class="blob"></div>
            <div class="fakeblob"></div>
          </div>
          <div
            class="card h-full w-full rounded-xl"
            data-aos="fade-up"
            data-aos-duration="1000">
            <div
              class="inner h-full w-full relative text-center group icon-target p-10 rounded-xl">
              <div class="block">
                <lord-icon
                  style="width: 50px; height: 50px;"
                  target=".icon-target"
                  trigger="hover"
                  src="/icons/wired-outline-955-demand-hover-click.json"
                  colors="primary:#7064e9,secondary:#7064e9">
                </lord-icon>
              </div>
              <div class="mt-4 block">
                <span
                  class="font-bold md:text-2xl text-xl group-hover:text-[#7064e9] transition ease-linear duration-100"
                  >Committee</span
                >
              </div>
              <p class="mt-4">
                Pactus' committee has 51 rotating validators who propose blocks
                and vote, ensuring secure consensus.
              </p>
            </div>
            <div class="blob"></div>
            <div class="fakeblob"></div>
          </div>
          <div
            class="card h-full w-full rounded-xl"
            data-aos="fade-up"
            data-aos-duration="1000">
            <div
              class="inner h-full w-full relative text-center group icon-target p-10 rounded-xl">
              <div class="block">
                <lord-icon
                  style="width: 50px; height: 50px;"
                  target=".icon-target"
                  trigger="hover"
                  src="/icons/wired-outline-1865-shooting-stars-hover-pinch.json"
                  colors="primary:#7064e9,secondary:#7064e9">
                </lord-icon>
              </div>
              <div class="mt-4 block">
                <span
                  class="font-bold md:text-2xl text-xl group-hover:text-[#7064e9] transition ease-linear duration-100"
                  >Efficient Security</span
                >
              </div>
              <p class="mt-4">
                Pactus' consensus protocol, verified with TLA+, ensures security
                with a fault-tolerant validator committee.
              </p>
            </div>
            <div class="blob"></div>
            <div class="fakeblob"></div>
          </div>
        </div>
      </div>
      <div class="mt-[6rem] md:mt-[10rem] z-10 relative">
        <section id="fun_facts">
          <div class="container mx-auto">
            <div class="fn_cs_counter_list">
              <ul>
                <li class="p-0">
                  <div class="item">
                    <h3 class="fn__gradient_title text-2xl">
                      <span class="prefix"></span
                      ><span
                        data-from="0"
                        class="fn_cs_counter counter p-3"
                        id="totalBlocks"
                        >--- </span
                      ><span class="suffix"></span>
                    </h3>
                    <p>Blocks</p>
                    <div class="divider hidden sm:block"></div>
                  </div>
                </li>
                <li class="p-0 sm:pl-[130px]">
                  <div class="item">
                    <h3 class="fn__gradient_title text-2xl">
                      <span class="prefix"></span
                      ><span
                        data-from="0"
                        class="fn_cs_counter counter p-3"
                        id="totalTransactions"
                        >--- </span
                      ><span class="suffix"></span>
                    </h3>
                    <p>Transactions</p>
                    <div
                      class="divider hidden md:block mr-5"
                      style="left: 90% !important;"></div>
                  </div>
                </li>
                <li class="p-0 md:pl-[130px]">
                  <div class="item">
                    <h3 class="fn__gradient_title text-2xl">
                      <span class="prefix"></span
                      ><span
                        data-from="0"
                        class="fn_cs_counter counter p-3"
                        id="totalAccounts"
                        >--- </span
                      ><span class="suffix"></span>
                    </h3>
                    <p>Accounts</p>
                    <div class="divider hidden sm:block"></div>
                  </div>
                </li>
                <li class="p-0 sm:pl-[130px]">
                  <div class="item">
                    <h3 class="fn__gradient_title text-2xl">
                      <span class="prefix"></span
                      ><span
                        data-from="0"
                        class="fn_cs_counter counter p-3"
                        id="totalValidators"
                        >--- </span
                      ><span class="suffix"></span>
                    </h3>
                    <p>Validators</p>
                    <div class="divider hidden sm:block"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <div class="mt-[6rem] md:mt-[10rem] text-center">
        <div class="container mx-auto">
          <div class="gap-0 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
            <div class="col-xl-3 col-lg-6 col-md-6 mt-30 ">
              <div
                class="ta-join-us-box ta-join-us-box__1 wow tfFadeUp"
                data-wow-duration=".9s"
                data-wow-delay=".4s"
                style="visibility: visible; animation-duration: 0.9s; animation-delay: 0.4s; animation-name: tfFadeUp;">
                <div class="inner-wrapper group icon-target">
                  <lord-icon
                    style="width: 50px; height: 50px;"
                    target=".icon-target"
                    trigger="hover"
                    src="/icons/system-solid-134-celebration-hover-celebration.json"
                    colors="primary:#7064e9,secondary:#217AFF">
                  </lord-icon>
                  <div class="ta-content mt-16">
                    <a
                      target="_blank"
                      href="/download"
                      class="mb-15 font-bold md:text-2xl text-xl group-hover:text-[#7064e9] transition ease-linear duration-100"
                      >Get started</a
                    >
                    <p class="mt-4">
                      To start your Pactus journey, you will need to download
                      the latest software. Pactus is designed to be lightweight
                      and user-friendly, offering support for all operating
                      systems and infrastructures with our GUI and CLI
                      applications.
                    </p>
                  </div>
                </div>
                <span class="count count__1 mt-40">01</span>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mt-30 ">
              <div
                class="ta-join-us-box ta-join-us-box__2 wow tfFadeUp"
                data-wow-duration=".9s"
                data-wow-delay=".6s"
                style="visibility: visible; animation-duration: 0.9s; animation-delay: 0.6s; animation-name: tfFadeUp;">
                <span class="count count__2 mb-40">02</span>
                <div class="inner-wrapper group icon-target">
                  <lord-icon
                    style="width: 50px; height: 50px;"
                    target=".icon-target"
                    trigger="hover"
                    src="/icons/system-solid-5-wallet-hover-wallet.json"
                    colors="primary:#7064e9,secondary:#217AFF">
                  </lord-icon>
                  <div class="ta-content mt-16">
                    <a
                      target="_blank"
                      href="/community"
                      class="mb-15 font-bold md:text-2xl text-xl group-hover:text-[#7064e9] transition ease-linear duration-100"
                      >Obtain PAC</a
                    >
                    <p class="mt-4">
                      Before you can utilize all that Pactus has to offer, you
                      will need to obtain our native coin. PAC is a currency
                      that can be exchanged for products, services and other
                      currencies with a percentage fee based model of 0.01% per
                      tx.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mt-30 ">
              <div
                class="ta-join-us-box ta-join-us-box__3 wow tfFadeUp"
                data-wow-duration=".9s"
                data-wow-delay=".8s"
                style="visibility: visible; animation-duration: 0.9s; animation-delay: 0.8s; animation-name: tfFadeUp;">
                <div class="inner-wrapper group icon-target">
                  <lord-icon
                    style="width: 50px; height: 50px;"
                    target=".icon-target"
                    trigger="hover"
                    src="/icons/system-solid-8-account-hover-account.json"
                    colors="primary:#7064e9,secondary:#217AFF">
                  </lord-icon>
                  <div class="ta-content mt-16">
                    <a
                      target="_blank"
                      href="https://docs.pactus.org/"
                      class="mb-15 font-bold md:text-2xl text-xl group-hover:text-[#7064e9] transition ease-linear duration-100"
                      >Become a validator</a
                    >
                    <p class="mt-4">
                      You can become a Pactus validator by staking some coins to
                      your node. As a Pactus validator you will earn rewards,
                      these are given for collecting valid transactions and
                      creating new blocks. The emission is one coin per block.
                    </p>
                  </div>
                </div>
                <span class="count count__3 mt-40">03</span>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mt-30 ">
              <div
                class="ta-join-us-box ta-join-us-box__4 wow tfFadeUp"
                data-wow-duration=".9s"
                data-wow-delay="1.00s"
                style="visibility: visible; animation-duration: 0.9s; animation-delay: 1s; animation-name: tfFadeUp;">
                <span class="count count__4 mb-40">04</span>
                <div class="inner-wrapper group icon-target">
                  <lord-icon
                    style="width: 50px; height: 50px;"
                    target=".icon-target"
                    trigger="hover"
                    src="/icons/system-solid-156-thumbs-up-down-hover-thumbs.json"
                    colors="primary:#7064e9,secondary:#217AFF">
                  </lord-icon>
                  <div class="ta-content mt-16">
                    <a
                      target="_blank"
                      href="/contributing"
                      class="mb-15 font-bold md:text-2xl text-xl group-hover:text-[#7064e9] transition ease-linear duration-100 "
                      >Make Pactus better</a
                    >
                    <p class="mt-4">
                      There are many ways you can support Pactus and help it
                      grow, from being a valuable community member and sharing
                      with your friends to contributing to our core development.
                      Let's work together to make Pactus even better!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-[6rem] md:mt-[10rem]">
        <div class="container mx-auto">
          {{ $roadmap := .Site.Data.roadmap }}
          <h1
            class="font-bold text-4xl md:text-5xl text-transparent bg-clip-text bg-gradient-to-r from-[#FFFFFF] to-[#999999] self-center">
            Planned Journey
          </h1>
          <div class="fn_cs_roadmap">
            <div class="step_holder" style="margin-top: 50px;">
              <div class="step_in" style="width: 88.8889%;"></div>
            </div>
            <div class="slider_holder">
              <div
                class="swiper-container swiper-container-horizontal overflow-hidden">
                <div
                  class="swiper-wrapper"
                  style="transition-duration: 0ms; transform: translate3d(-1775px, 0px, 0px);">
                  {{ $length := len $roadmap }}
                  {{ range $i := seq 0 (sub $length 1) }}
                    {{ $ri := sub (sub $length 1) $i }}
                    {{ $value := index $roadmap $ri }}
                    {{ $color := "#0F6CBD" }}
                    {{ if in $value.state "completed" }}
                      {{ $color = "#2CD776" }}
                    {{ else if in $value.state "construct" }}
                      {{ $color = "#F08C16" }}
                    {{ end }}
                    <div
                      class="swiper-slide"
                      style="width: 315px; margin-right: 40px;">
                      <div class="item group">
                        <span class="icon"></span>
                        <span
                          class="phase"
                          style="background-color: {{ $color }};color:white"
                          >{{ $value.date }}</span
                        >
                        <div class="item_in">
                          <div class="block w-full">
                            <i
                              class="fas {{ $value.icon }} text-lg w-[55px] mt-5 h-[55px] text-center content-center place-content-center rounded-xl shadow-lg"
                              style="color: white;background-color: #14161D;"></i>
                          </div>
                          {{ if and $value.reference (gt (len $value.reference) 0) }}
                            <p class="mt-4">
                              <a
                                target="_blank"
                                href="{{ $value.reference }}"
                                class="mb-15 font-bold md:text-2xl text-xl group-hover:text-[#7064e9] transition ease-linear duration-100"
                                >{{ $value.title }}</a
                              >
                            </p>
                          {{ else }}
                            <p
                              class="mb-15 mt-4 font-bold md:text-2xl text-xl transition ease-linear duration-100">
                              {{ $value.title }}
                            </p>
                          {{ end }}
                          <p class="desc">{{ $value.description }}</p>
                        </div>
                      </div>
                    </div>
                  {{ end }}
                </div>
                <span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span
                ><span
                  class="swiper-notification"
                  aria-live="assertive"
                  aria-atomic="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        class="absolute -z-10 right-9"
        src="/images/chains.svg"
        alt=""
        loading="lazy" />
      <div class="mt-[6rem] md:mt-[10rem]">
        <div class="container mx-auto">
          <h1
            class="font-bold text-4xl md:text-5xl text-transparent bg-clip-text bg-gradient-to-r from-[#FFFFFF] to-[#999999] self-center">
            News Room
          </h1>
          <div class="mt-20">
            <div
              class="w-full relative overflow-hidden md:px-10 hidden lg:block">
              <div
                class="swiper vertical-slide-carousel swiper-container relative"
                id="mySwiper">
                <div class="swiper-wrapper">
                  {{ range first 10 (where .Site.RegularPages "Type" "blog") }}
                    <div class="swiper-slide">
                      <div class="container mx-auto">
                        <div
                          class="w-full p-10 bg-[#14161D] rounded-2xl shadow-xl shadow-[#0B0B0F] flex flex-col md:flex-row items-start md:items-center gap-3">
                          <img
                            src="{{ partial "image.html" (dict "src" .Params.image "filename" .Page.File.BaseFileName) }}"
                            loading="lazy"
                            alt="{{ .Title }}"
                            class="w-full md:w-1/4 h-auto md:h-48 object-cover rounded-2xl mb-4 md:mb-0" />
                          <div class="flex-1">
                            <h1 class="text-2xl font-bold text-neutral-50">
                              {{ .Title }}
                            </h1>
                            <h6 class="font-medium text-sm mt-2">
                              {{ .Date.Format "January 2, 2006" }}
                            </h6>
                            <p class="mt-5 text-neutral-50">
                              {{ partial "desc.html" (dict "description" .Params.description "summary" .Content "charCount" 150) }}
                              <br /><br />
                              <a
                                href="{{ .Permalink }}"
                                class="hover:text-opacity-80 font-bold text-[#1EA4E8]"
                                >Read More</a
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  {{ end }}
                </div>
              </div>
              <div
                class="swiper-pagination !right-10 !left-full !top-1/3 !translate-y-8"></div>
            </div>
            <div
              class="w-full relative overflow-hidden md:px-10 block lg:hidden">
              <div class="">
                {{ range first 3 (where .Site.RegularPages "Type" "blog") }}
                  {{ $link := .Permalink }}
                  <div class="swiper-slide">
                    <div class="container mx-auto">
                      <div
                        class="w-full p-10 bg-[#14161D] rounded-2xl shadow-xl shadow-[#0B0B0F] flex flex-col items-start gap-3">
                        <a href="{{ $link }}" class="w-full">
                          <img
                            src="{{ partial "image.html" (dict "src" .Params.image "filename" .Page.File.BaseFileName) }}"
                            loading="lazy"
                            alt="{{ .Title }}"
                            class="w-full h-auto md:h-48 object-cover rounded-2xl mb-4 md:mb-0" />
                        </a>
                        <div class="flex-1">
                          <h1 class="text-2xl font-bold text-neutral-50">
                            {{ .Title }}
                          </h1>
                          <h6 class="font-medium text-sm mt-2">
                            {{ .Date.Format "January 2, 2006" }}
                          </h6>
                          <p class="mt-5 text-neutral-50">
                            {{ $summary := .Params.description | plainify | truncate 300 " ..." }}
                            {{ $summary }}
                            <br /><br />
                            <a
                              href="{{ $link }}"
                              class="hover:text-opacity-80 font-bold text-[#1EA4E8]"
                              >Read More</a
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                {{ end }}
              </div>
              <div class="text-center mt-5">
                <a
                  href="/blog"
                  class="hover:text-opacity-80 text-lg mt-3 font-bold text-[#1EA4E8]"
                  >See More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-[6rem] md:mt-[10rem] text-center">
        <h1
          class="font-bold text-4xl md:text-5xl text-transparent bg-clip-text bg-gradient-to-r from-[#FFFFFF] to-[#999999] self-center">
          Join Our Community
        </h1>
        <div
          class="mt-5 w-full text-center"
          style="text-align: -webkit-center;">
          <div class="app-wrapper">
            <ul class="markers"></ul>
          </div>
          <div class="relative">
            <div class="absolute w-full h-full z-10"></div>
            <div id="earth" class="z-0 w-full [&>*]:w-full"></div>
          </div>
          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/three.js/106/three.min.js"
            defer></script>
          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"
            defer></script>
          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js"
            defer></script>
          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/17.4.0/Tween.min.js"
            defer></script>
          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.3.2/fabric.min.js"
            defer></script>
          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.4/chroma.min.js"
            defer></script>
          <script src="/libs/THREE.MeshLine.js" defer></script>
          <script src="https://d3js.org/d3-array.v1.min.js" defer></script>
          <script src="https://d3js.org/d3-geo.v1.min.js" defer></script>

          <script src="/libs/orbit-controls.js" defer></script>
          <script src="/libs/trackball-controls.js" defer></script>
          <script src="/libs/perlin-noise.js" defer></script>

          <script src="/assets/data/processing.js" defer></script>

          <script src="/scripts/config.js" defer></script>
          <script src="/scripts/app.js" defer></script>
          <script src="/scripts/shaders.js" defer></script>
          <script src="/scripts/index.js" defer></script>

          <script src="/assets/data/countries.js" defer></script>
          <script src="/assets/data/connections.js" defer></script>
          <script src="/assets/data/grid.js" defer></script>

          <script src="/scripts/globe.js" defer></script>
          <script src="/scripts/points.js" defer></script>
          <script src="/scripts/marker.js" defer></script>
          <script src="/scripts/markers.js" defer></script>
          <script src="/scripts/lines.js" defer></script>
          <script src="/scripts/dots.js" defer></script>
          <script src="/scripts/camera.js" defer></script>

          <script src="/scripts/utils.js" defer></script>
        </div>
      </div>
    </div>
  </section>
{{ end }}
{{ define "page_script" }}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      function getHeightOfTwoSlides(swiper) {
        const slides = swiper.slides;
        const spaceBetween = swiper.params.spaceBetween || 0;

        if (slides.length >= 2) {
          const height =
            slides[0].offsetHeight + slides[1].offsetHeight + spaceBetween + 30;
          return height;
        } else {
          console.warn("Not enough slides to calculate height");
          return 0;
        }
      }

      function updateSwiperHeight() {
        const swiperEl = document.querySelector("#mySwiper");
        const slides = swiperEl.querySelectorAll(".swiper-slide");
        const spaceBetween = 30;

        if (slides.length >= 2) {
          const height =
            slides[0].offsetHeight + slides[1].offsetHeight + spaceBetween;
          swiperEl.style.height = `${height}px`;
        } else {
          console.warn("Not enough slides to calculate height");
        }
      }
      function isMobile() {
        return window.innerWidth <= 768;
      }

      var swiper = new Swiper(".vertical-slide-carousel", {
        loop: false,
        direction: "vertical",
        mousewheelControl: true,
        paginationClickable: true,
        touchRatio: 1,
        touchAngle: 45,
        longSwipes: false,
        longSwipesRatio: 0.5,
        freeMode: {
          enabled: true,
          sticky: false,
        },
        grabCursor: true,
        slidesPerView: 2,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        on: {
          init: function () {
            this.update();
          },
          imagesReady: function () {
            if (!isMobile()) {
              this.el.style.height = getHeightOfTwoSlides(this) + "px";
            }
          },
          resize: function () {
            if (!isMobile()) {
              this.el.style.height = getHeightOfTwoSlides(this) + "px";
            }
            this.el.style.height = getHeightOfTwoSlides(this) + "px";
          },
        },
      });

      setTimeout(updateSwiperHeight, 500);
    });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const translations = [
        "Պակտուս", // Armenian
        "بكتوس", // Arabic
        "পাক্টাস", // Bengali
        "Пактус", // Russian
        "帕克图斯", // Chinese
        "პაქტუსი", // Georgian
        "Πάκτους", // Greek
        "פקטוס", // Hebrew
        "पेक्टस", // Hindi
        "パクトゥス", // Japanese
        "پکتوس", // Urdu
        "பக்டஸ்", // Tamil
        "แพคตัส", // Thai
        "پاکٹس", // Urdu (Alternative script)
      ];

      function shuffleArray(array) {
        const shuffledArray = array.slice();

        for (let i = shuffledArray.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [shuffledArray[i], shuffledArray[j]] = [
            shuffledArray[j],
            shuffledArray[i],
          ];
        }

        return shuffledArray;
      }

      const options = {
        strings: ["Pactus", ...shuffleArray(translations)],
        typeSpeed: 100,
        backSpeed: 50,
        backDelay: 1000,
        startDelay: 500,
        loop: true,
        showCursor: true,
      };

      new Typed("#pactus-name", options);
    });
  </script>
  <script>
    const all = document.querySelectorAll(".card");

    window.addEventListener("mousemove", (ev) => {
      all.forEach((e) => {
        const blob = e.querySelector(".blob");
        const fblob = e.querySelector(".fakeblob");
        const rec = fblob.getBoundingClientRect();
        blob.style.opacity = "1";

        blob.animate(
          [
            {
              transform: `translate(${
                ev.clientX - rec.left - rec.width / 2
              }px,${ev.clientY - rec.top - rec.height / 2}px)`,
            },
          ],
          {
            duration: 300,
            fill: "forwards",
          },
        );
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      function updateCountsFromAPI() {
        $.ajax({
          url: "https://api.pacviewer.com/v1/counts",
          method: "GET",
          dataType: "json",
          headers: {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET",
            "Access-Control-Allow-Headers": "Content-Type",
          },
          success: function (data) {
            const currentTime = new Date().getTime();
            const storeData = {
              data: data,
              timestamp: currentTime,
            };
            localStorage.setItem("apiData", JSON.stringify(storeData));

            updateUI(data);

            $(".counter").countUp();
          },
          error: function (xhr, status, error) {
            console.error("Error fetching data:", error);
            $(".count-field").text("Error");
          },
        });
      }

      function updateUI(data) {
        $("#totalBlocks").text(data.data.TotalBlocks || 0);
        $("#totalTransactions").text(data.data.TotalTxs || 0);
        $("#totalAccounts").text(data.data.TotalAccounts || 0);
        $("#totalValidators").text(data.data.TotalValidators || 0);
      }

      function checkAndUpdateCounts() {
        const storedData = localStorage.getItem("apiData");

        if (storedData) {
          const parsedData = JSON.parse(storedData);
          const currentTime = new Date().getTime();
          const oneDay = 24 * 60 * 60 * 1000; // 1 day in milliseconds

          if (currentTime - parsedData.timestamp < oneDay) {
            updateUI(parsedData.data);
            $(".counter").countUp();
            return;
          }
        }

        updateCountsFromAPI();
      }

      checkAndUpdateCounts();
    });
  </script>

  <script>
    var roadmapStep = function (t, e, a) {
      var n,
        o = parseInt(t.currentBreakpoint);
      switch (o) {
        case 1400:
        case 1040:
        default:
          n = 4;
          break;
        case 1200:
          n = 3;
          break;
        case 768:
          n = 1;
      }
      e.css({
        width: (t.activeIndex + n) * a + "%",
      });
    };

    var swiper2 = new Swiper(".fn_cs_roadmap .swiper-container", {
      loop: !1,
      speed: 500,
      autoplay: {
        delay: 3000,
        disableOnInteraction: !1,
      },
      slidesPerView: 4,
      spaceBetween: 40,
      direction: "horizontal",
      loopAdditionalSlides: 10,
      watchSlidesProgress: !0,
      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        768: {
          slidesPerView: 1,
        },
        1040: {
          slidesPerView: 2,
        },
        1200: {
          slidesPerView: 3,
        },
        1400: {
          slidesPerView: 4,
        },
      },
    });
    let n =
      100 /
      (swiper2.params.loop ? swiper2.slides.length - 2 : swiper2.slides.length);
    let i = $(".step_in");
    swiper2.on("slideChange", function () {
      roadmapStep(this, i, n);
    });

    swiper2.slideTo(swiper2.slides.length / 2);
  </script>
{{ end }}
