<div class="mt-10">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <a
      href="#gui"
      class="p-5 border border-neutral-400 rounded-xl cursor-pointer bg-[#2b2b4b] no-underline"
      id="gui-btn">
      <h4 class="font-bold lg:text-2xl text-lg text-neutral-50">Pactus Graphical User Interface (GUI)</h4>
      <p class="mt-5 text-neutral-50">
        You can run Pactus in a graphical user interface (GUI) mode and it is suitable for both beginners and advanced
        users.
      </p>
      <div class="w-full text-center" style="text-align: -webkit-center;">
        <img
          loading="lazy"
          src="{{ partial "image.html" (dict "src" "/images/pactus-gui.png") }}"
          alt=""
          class="mt-5 w-full" />
      </div>
    </a>
    <a
      href="#cli"
      class="p-5 border border-neutral-400 rounded-xl hover:bg-[#000] cursor-pointer no-underline"
      id="cli-btn">
      <h4 class="font-bold lg:text-2xl text-lg text-neutral-50">Pactus Command Line Interface (CLI)</h4>
      <p class="mt-5 text-neutral-50">Advanced users can run Pactus in command line interface (CLI) mode.</p>
      <div class="w-full text-center" style="text-align: -webkit-center;">
        <img
          loading="lazy"
          src="{{ partial "image.html" (dict "src" "/images/pactus-cli.png") }}"
          alt=""
          class="lg:mt-[31px] mt-5 w-full" />
      </div>
    </a>
  </div>
</div>
<div class="mt-10">
  <div id="gui" class="overflow-x-auto">
    <h3>GUI releases</h3>
    <div id="loading">Loading releases from github...</div>
  </div>
  <div class="alert alert-success block">
    <b>Sponsor</b>
    <p class="text">
      Pactus binaries on Windows are code-signed using a certificate provided by
      <a href="https://about.signpath.io/" target="_blank">SignPath.io</a>
      and issued by the
      <img
        src="/images/icons/signpath.png"
        alt="SignPath Logo"
        width="32"
        height="32"
        class="inline-block"
        style="margin: 0; padding: 0;" />
      <a href="https://signpath.org/" target="_blank">SignPath Foundation</a>.
    </p>
  </div>
  <p class="text">
    Once you have downloaded the Pactus GUI, you may follow this tutorial to set up and run your node:
    <a href="https://docs.pactus.org/get-started/pactus-gui" target="_blank">How to run Pactus in Graphic Mode?</a>
  </p>
  <div id="cli" class="overflow-x-auto">
    <h3>CLI releases</h3>
    <div id="loading1">Loading releases from github...</div>
  </div>
</div>
<script>
  // Function to fetch the latest release data
  async function fetchLatestRelease() {
    let cachedRelease = localStorage.getItem("latestRelease");
    const response = await fetch(
      "https://api.github.com/repos/pactus-project/pactus/releases/tags/{{.Site.Params.releaseTag}}",
    );
    if (!response.ok) {
      return JSON.parse(cachedRelease) || {};
    }
    let resp = await response.json();
    localStorage.setItem("latestRelease", JSON.stringify(resp));
    return resp;
  }

  // Function to get OS icon
  function getOSIcon(os) {
    const icons = {
      windows: '<i class="fa-brands fa-windows"></i>',
      macos: '<i class="fa-brands fa-apple"></i>',
      linux: '<i class="fa-brands fa-linux"></i>',
      freebsd: '<i class="fa-brands fa-freebsd"></i>',
    };
    return icons[os.toLowerCase()] || "";
  }

  // Function to get human-readable file size
  function formatFileSize(bytes) {
    const units = ["B", "KB", "MB", "GB"];
    let size = bytes;
    let unitIndex = 0;
    while (size >= 1024 && unitIndex < units.length - 1) {
      size /= 1024;
      unitIndex++;
    }
    return `${size.toFixed(2)} ${units[unitIndex]}`;
  }

  // Function to determine the kind of release
  function getKind(fileName) {
    const archiveFormats = ["zip", "tar.gz", "tgz"];
    const installerFormats = ["exe", "pkg", "deb", "rpm"];

    const extension = fileName.split(".").pop().toLowerCase();

    if (archiveFormats.includes(extension)) return "Archive";
    if (installerFormats.includes(extension)) return "Installer";
    return extension.toUpperCase();
  }

  // Function to determine OS from file name
  function getOS(fileName) {
    if (fileName.toLowerCase().includes("windows")) return "Windows";
    if (fileName.toLowerCase().includes("darwin")) return "macOS";
    if (fileName.toLowerCase().includes("linux")) return "Linux";
    if (fileName.toLowerCase().includes("freebsd")) return "FreeBSD";
    if (fileName.toLowerCase().includes("android")) return "Android";
    return "Unknown";
  }

  // Function to determine architecture from file name
  function getArch(fileName) {
    if (fileName.toLowerCase().includes("amd64")) return "64-bit";
    if (fileName.toLowerCase().includes("386")) return "32-bit";
    if (fileName.toLowerCase().includes("arm64")) return "ARM64";
    if (fileName.toLowerCase().includes("arm")) return "ARM";
    return "Unknown";
  }

  // Function to create the table
  function createTable(assets, type) {
    const table = document.createElement("table");
    table.className = "table rounded-lg";
    table.innerHTML = `
    <thead>
      <tr class="font-bold">

        <th>Name</th>
        <th>Kind</th>
        <th>OS</th>
        <th>Arch</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      ${assets
        .filter((asset) => asset.name.toLowerCase().includes(type))
        .map((asset) => {
          const kind = getKind(asset.name);
          const os = getOS(asset.name);
          const arch = getArch(asset.name);
          return `
          <tr>
            <td><a href="${asset.browser_download_url}" target="_blank">${asset.name}</a></td>
            <td>${kind}</td>
            <td class="flex" style="align-items:center">${getOSIcon(os)} <span class="ml-1">${os}</span></td>
            <td>${arch}</td>
            <td>${formatFileSize(asset.size)}</td>
          </tr>
        `;
        })
        .join("")}
    </tbody>
  `;
    return table;
  }

  // Main function to fetch data and create the tables
  async function displayLatestRelease() {
    try {
      document.getElementById("loading").innerHTML = "";
      document.getElementById("loading1").innerHTML = "";
      const release = await fetchLatestRelease();

      const latestVersionElements =
        document.getElementsByClassName("release-tag-link");
      for (let i = 0; i < latestVersionElements.length; i++) {
        latestVersionElements[i].innerHTML = `https://github.com/pactus-project/pactus/releases/download/${release.tag_name}`;
      }

      const cliTable = createTable(release.assets, "cli");
      const guiTable = createTable(release.assets, "gui");

      const container_gui = document.getElementById("gui");
      const container_cli = document.getElementById("cli");
      container_gui.appendChild(guiTable);
      container_cli.appendChild(cliTable);
    } catch (error) {
      console.error("Error fetching release data:", error);
      document.getElementById("loading").innerHTML =
        "<p>Error fetching release data. Please try again later.</p>";
      document.getElementById("loading1").innerHTML =
        "<p>Error fetching release data. Please try again later.</p>";
    }
  }

  // Call the main function when the page loads
  window.addEventListener("load", displayLatestRelease);
</script>
