name: Check

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  yaml:
    name: Lining Yaml files
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Linting Yaml files
        run: |
          yarn run lint:yml:setup
          yarn run lint:yml

  markdown:
    name: Lining Markdown files
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'

      - name: Linting MD files
        run: |
          yarn run lint:md:setup
          yarn run lint:md

  html-proofer:
    name: Check for broken links and HTML5 Validator
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.121.2
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'

      - name: Setup Node.js
        uses: actions/setup-node@v3

      - name: Install NPM dependencies
        run: |
          npm install

      - name: Setup Hugo
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Build with Hugo
        env:
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: |
          hugo \
            --gc --minify \
            --baseURL "https://pactus.org/"

      - name: HTML5Validator
        uses: Cyb3r-Jak3/html5validator-action@v7.2.0
        with:
          root: public/
        continue-on-error: true # TODO: remove me

      - name: Check images
        run: python .github/workflows/check_images.py ./assets

      - name: Install html-proofer
        run: |
          gem install html-proofer -v 4.3

      ##
      ## Status code 429: https://http.dev/429
      ## Status code 999: https://http.dev/999#linkedin
      ## Status code 403: https://http.dev/403
      ## Status code 0: https://github.com/gjtorikian/html-proofer/issues/716#issuecomment-1162052155
      ##
      ## By swap-urls, we don't get error if we rename or move a document.
      - name: Check for broken links
        run: htmlproofer --swap-urls 'https\://pactus.org:' --ignore-status-codes "999,429,403,0" --ignore-urls=/github.com/,/cdn./,/discord.gg/,/t.me/,/tools.ietf.org/ ./public
